.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #c37a7a;
  border: 1px solid #c37a7a;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #b56f6f;
  border-color: #b56f6f;
}
